<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RequestDispatcherApp</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>ServletOne</display-name>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>com.uttara.Test.ServletOne</servlet-class>
    
    <init-param>
    <param-name>initName</param-name>
    <param-value>data stored in inIt method</param-value>
    </init-param>
    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTwo</display-name>
    <servlet-name>ServletTwo</servlet-name>
    <servlet-class>com.uttara.Test.ServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTwo</servlet-name>
    <url-pattern>/two</url-pattern>
  </servlet-mapping>
  
  <context-param> 
  <param-name>contextName</param-name>
  <param-value> value stored in context </param-value>
  </context-param>
   
</web-app>